---
layout: page
---

{% include lang.html %}

<div class="project-page">
  <!-- Image preview -->
  {% if page.image %}
    <div class="cover">
      {% assign img_path = page.image.path | default: page.image | absolute_url | prepend: site.baseurl %}
      {% assign img_alt = page.image.alt | default: 'Image Preview' %}
      <img src="{{ img_path }}" alt="{{ img_alt }}" width="1200" height="630" class="lazyload">
    </div>
  {% endif %}
  <!-- End image preview -->

  <h1 class="project-title center"> <i class="fas {{ page.icon }}"></i> {{ page.title }}</h1>
  
  <div class="meta">
    {% if page.git %}
      <!-- Project git link -->
      <div class="meta-git">
        <a href="{{ page.git.link }}">
          <i class="fa-brands fa-git-alt"></i>
          <em>Git link</em>
        </a>
      </div>
    {% endif %}
    <!-- Project categories -->
    <div class="meta-categories">
    {% for category in page.categories %}
      <em>{{ category }}{%- unless forloop.last -%},{%- endunless -%}</em>
    {% endfor %}
    </div>

    <!-- Project year -->
    <div class="meta-date">
      <i class="far fa-calendar"></i>
      <em>{{ page.year }}</em>
    </div>
  </div>

  <div class="content">
    {{ page.content }}
  </div>

  <style>
.bubbles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.bubble-group {
  flex: 1 1 30%;
}

.bubbles {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.bubble {
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  display: inline-block;
  white-space: nowrap;
  transition: transform 0.2s ease;
}

.bubble:hover {
  transform: scale(1.05);
}
</style>

{% assign skill_types = "meta_compétences,compétences_transférables,qualités,expertise_scientifique,compétences_sociales,compétences_transférables" | split: "," %}
{% assign all_skills = site.data.skills %}

<div class="skills-bubbles">
  {% for type in skill_types %}
    {% assign selected = page[type] %}
    {% if selected %}
      <div class="skill-group">
        <h3>{{ type | replace: "_", " " | capitalize }}</h3>
        <div class="bubbles">
          {% for name in selected %}
            {% assign skill = all_skills | where: "title", name | where: "type", type | first %}
            {% if skill %}
              <div class="bubble" style="background-color: {{ skill.color }}">
                {{ skill.title }}
              </div>
            {% else %}
              <div class="bubble missing">
                {{ name }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

</div>